## Premier code

In [1]:
print("hello")

hello

## Opérations Arithmétiques
1. Addition (+): Permet d'ajouter deux nombres ensemble.
2. Soustraction (-): Permet de soustraire un nombre d'un autre.
3. Multiplication ():*: Permet de multiplier deux nombres.
4. Division (/): Permet de diviser un nombre par un autre. Renvoie un flottant.
5. Division entière (//): Renvoie la partie entière de la division.
6. Modulo (%): Renvoie le reste de la division.
7. Exposant () :** Élève un nombre à la puissance d'un autre.

## Opérations de Comparaison
1. Égalité (==): Vérifie si deux valeurs sont égales.
2. Différence (!=): Vérifie si deux valeurs sont différentes.
3. Supérieur à (>): Vérifie si une valeur est supérieure à une autre.
4. Inférieur à (<): Vérifie si une valeur est inférieure à une autre.
5. Supérieur ou égal à (>=): Vérifie si une valeur est supérieure ou égale à une autre.
6. Inférieur ou égal à (<=): Vérifie si une valeur est inférieure ou égale à une autre.

## Opérations Logiques
1. AND (and): Renvoie True si les deux opérandes sont True.
2. OR (or): Renvoie True si au moins une des opérandes est True.
3. NOT (not): Inverse la valeur booléenne d'une opérande.

## Opérations d'Affectation
1. Affectation (=): Attribue une valeur à une variable.
2. Affectation avec addition (+=): Ajoute une valeur à la variable existante et réaffecte le résultat.
3. Affectation avec soustraction (-=): Soustrait une valeur à la variable existante et réaffecte le résultat.
4. Affectation avec multiplication (=): Multiplie la variable existante par une valeur et réaffecte le résultat.
5. Affectation avec division (/=): Divise la variable existante par une valeur et réaffecte le résultat.

## Autres Opérations
1. Concaténation de chaînes (+): Joindre deux chaînes de caractères.
2. Appartenance (in, not in): Vérifie si un élément est présent ou non dans une séquence (chaîne, liste, etc.).
3. Fonctions intégrées: Il existe des fonctions intégrées pour manipuler les variables, comme len() pour obtenir la longueur d'une chaîne ou type() pour connaître le type de variable.

# Nom de varibles reserve

and as assert break class continue def del elif else except False finally for from global if import in is lambda None nonlocal not or pass raise return True try while with yield

## Les variables a type simple

In [2]:
# Entier
a = 12
print(a)
type(a)

12

int

In [3]:
# Chaine de caractere
b = "bonjour je suis un entier"
print(b)
type(b)

bonjour je suis un entier

str

In [4]:
# Booleen on y assigne la valeur True ou False 
c = True
print(c)
type(c)

True

bool

In [5]:
# Float
d = 12.9
print(d)
type(d)

12.9

float

## Variable de type container

### Tableau

In [6]:
# Creation
x = ['lundi', 2, 23.5, "jeudi", "vendredi", "samedi"]
y = ["Dimanche"]

In [7]:
print(x)

['lundi', 2, 23.5, 'jeudi', 'vendredi', 'samedi']

In [ ]:
# Selection
element_position_quatre = x[ 3] # l'element a la position 4
sous_tableau = x[1:4]  # sous_tableau sera [2, 23.5, 'jeudi']
tous_sauf_premier = x[1:] # tous les elements sauf le premier
les_deux_derniers = x[-2:] # les deux derniers elements
print(x)
print(element_position_quatre)
print(sous_tableau)
print(tous_sauf_premier)
print(les_deux_derniers)

['lundi', 2, 23.5, 'jeudi', 'vendredi', 'samedi']
jeudi
[2, 23.5, 'jeudi']
[2, 23.5, 'jeudi', 'vendredi', 'samedi']
['vendredi', 'samedi']

In [9]:
# Modification
x[1] = "Mardi"  # Le deuxieme élément devient Mardi
x.append("Dimanche")  # Ajoute Dimanche à la fin
x.insert(2, 25) # Insère 25 à l'indice 
x.extend([1, 2])
print(x)

['lundi', 'Mardi', 25, 23.5, 'jeudi', 'vendredi', 'samedi', 'Dimanche', 1, 2]

In [10]:
# Suppression
del x[2] # Supprime l'élément à l'indice 2
x.remove(23.5) # Supprime la première occurence de 23.5
dernier_x = x.pop() # dernier_element prend la valeur du dernier élément, qui est supprimé
x_a_indice_2 = x.pop(6) # Supprime et retourne l'element à l'indice 2
print(x)
print(dernier_x)
print(x_a_indice_2)

['lundi', 'Mardi', 'jeudi', 'vendredi', 'samedi', 'Dimanche']
2
1

### Tuple

In [11]:
# Tuple 
chiffres = (False, "un", 2, 3, 5, 6 )
chiffres_triple = chiffres * 3
print(chiffres)
print(chiffres_triple)

(False, 'un', 2, 3, 5, 6)
(False, 'un', 2, 3, 5, 6, False, 'un', 2, 3, 5, 6, False, 'un', 2, 3, 5, 6)

In [12]:
# Accès aux éléments
print(f"Le premier élément est : {chiffres[0]}")  # Affiche False
print(f"La tranche des deux derniers éléments : {chiffres[4:]}") # Affiche (5, 6)

Le premier élément est : False
La tranche des deux derniers éléments : (5, 6)

In [13]:
# Concaténation
nouveau_chiffres = chiffres + (7, 8, 9)
print(f"Le nouveau tuple après concaténation : {nouveau_chiffres}") # Affiche (False, 'un', 2, 3, 5, 6, 7, 8, 9)

Le nouveau tuple après concaténation : (False, 'un', 2, 3, 5, 6, 7, 8, 9)

In [14]:
# Vérification de présence
print(f"Le tuple contient-il l'élément 3 ? : {3 in nouveau_chiffres}") # Affiche True

Le tuple contient-il l'élément 3 ? : True

In [15]:
# Fonctions intégrées
tuple_homogene = (1, 2, 3, 4, 5, 6, 7, 8, 9)
print(f"La longueur du tuple est : {len(tuple_homogene)}") # Affiche 6
print(f"Le plus grand élément est : {max(tuple_homogene)}") # Affiche 4
print(f"Le nombre d'occurrences de 2 est : {tuple_homogene.count(2)}") # Affiche 3

La longueur du tuple est : 9
Le plus grand élément est : 9
Le nombre d'occurrences de 2 est : 1

### Dictionnaire

In [16]:
# Creation
etudiant_1 = {"nom": "Badji", "Prenom": "Mohamed", "âge": 24, "ville": "Ziguinchor"}
etudiant_1

{'nom': 'Badji', 'Prenom': 'Mohamed', 'âge': 24, 'ville': 'Ziguinchor'}

In [17]:
# Recuperer valeur
etudiant_1.get("nom")

'Badji'

In [18]:
etudiant_1["profession"] = "Etudiant"  # Ajoute ou modifie la clé "profession"
etudiant_1["âge"] = 31  # Modifie la valeur de la clé "âge"
etudiant_1

{'nom': 'Badji',
 'Prenom': 'Mohamed',
 'âge': 31,
 'ville': 'Ziguinchor',
 'profession': 'Etudiant'}

In [19]:
nouvelle_etudiant = {"pays": "Senegal", "code_postal": 11500}
etudiant_1.update(nouvelle_etudiant)
etudiant_1

{'nom': 'Badji',
 'Prenom': 'Mohamed',
 'âge': 31,
 'ville': 'Ziguinchor',
 'profession': 'Etudiant',
 'pays': 'Senegal',
 'code_postal': 11500}

In [20]:
# Suppression
age = etudiant_1.pop("âge") # Supprime "âge" et renvoie 31
ville = etudiant_1.pop("ville", "Non définie") # Supprime "ville" et renvoie "Non définie"
del etudiant_1["Prenom"]
print(etudiant_1)

{'nom': 'Badji', 'profession': 'Etudiant', 'pays': 'Senegal', 'code_postal': 11500}

In [21]:
# Autres operation
nombre_elements = len(etudiant_1)
cles = etudiant_1.keys() # Renvoie une vue des clés
valeurs = etudiant_1.values() # Renvoie une vue des valeurs
items = etudiant_1.items() # Renvoie une vue des paires clé-valeur
copie_dictionnaire = etudiant_1.copy()
print(f"Nombre d'elements du disctionaire {nombre_elements}")
print(f"Les cles {cles}")
print(f"Les valeurs {valeurs}")
print(f"Les elements {items}")
print(f"La copy du tableau {copie_dictionnaire}")

Nombre d'elements du disctionaire 4
Les cles dict_keys(['nom', 'profession', 'pays', 'code_postal'])
Les valeurs dict_values(['Badji', 'Etudiant', 'Senegal', 11500])
Les elements dict_items([('nom', 'Badji'), ('profession', 'Etudiant'), ('pays', 'Senegal'), ('code_postal', 11500)])
La copy du tableau {'nom': 'Badji', 'profession': 'Etudiant', 'pays': 'Senegal', 'code_postal': 11500}

In [22]:
etudiant_1.clear() # Le dictionnaire est maintenant vide
print(etudiant_1)

{}